<template>
  <q-modal
        ref="modal"
        v-model="basicModal"
        :content-css="{
            minWidth: '45vw',
            minHeight: '15vw'
        }"
    >

  </q-modal>
</template>

<script>
export default {

}
</script>

<style>

</style>
